{% extends 'plural_info.html' %}
{% block title_content %}
      <h2 class="h1">{{title_page}}</h2>
{% endblock %}

{% block search %}
 <div class="wrapper" style="width: 576px; margin-left: -288px">
     <div class="block">
      </form>
            <form action = "/artist_by_name" method = "post">
           <p><input type = "search" name = "name" /></p>
              <i class="fa fa-search">Name</i>
      </form>
       </div>
     <div class="block">
      </form>
            <form action = "/artist_by_song" method = "post">
           <p><input type = "search" name = "song" /></p>
              <i class="fa fa-search">Song</i>
      </form>
       </div>
     <div class="block">
      </form>
            <form action = "/artist_by_genre" method = "post">
            <p><input type = "search" name = "genre" /></p>
              <i class="fa fa-search">Genre</i>
      </form>
       </div>
          <div class="block">
      </form>
            <form action = "/artist_dead" method = "post">
              <p><input type="submit" value="Artists"></p>
              <i class="fa fa-search">Dead</i>
      </form>
       </div>
</div>
{% endblock %}
{% block body %}
<ul>
              {% for artist in artists.values() %}

            <li class="col-xs-12 col-sm-4 js-album-results-1" tabindex="0" data-sr-id="3" style="visibility: visible; opacity: 1; transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1) 0s;">



              <figure onclick="location.href='/artist_show/{{artist.id}}';" data-tracking="{&quot;category&quot;: &quot;home&quot;, &quot;action&quot;: &quot;click-music&quot;}">

                <div class="box">
                  <div class="content">
                    <img class="img-responsive" src="{{artist.image}}" title="{{artist.name}}" onclick="location.href='/artist_show/{{artist.id}}';" data-tracking="{&quot;category&quot;: &quot;home&quot;, &quot;action&quot;: &quot;click-music&quot;}">
                  </div>
                </div>

                <div class="hidden-xs content-overlay" onclick="location.href='/artist_show/{{artist.id}}';" data-tracking="{&quot;category&quot;: &quot;home&quot;, &quot;action&quot;: &quot;click-music&quot;}"></div>

                <div class="hidden-xs content-details">
                  <figcaption class="album-play-button">
                    <h1 class="text-white">{{ artist.name }}</h1>
                    <h3 class="text-white">{{artist.age}}</h3>
                    <h4 class="text-white">Songs in billboard: {{artist.songs_count}}</h4>

                  </figcaption>

                </div>
              </figure>

              <figcaption class="scroll hidden-sm hidden-md hidden-lg">

                <h2 onclick="location.href='';" data-tracking="{&quot;category&quot;: &quot;home&quot;, &quot;action&quot;: &quot;click-music&quot;}">{{ artist.name }}</h2>
                <h4 onclick="location.href='';" data-tracking="{&quot;category&quot;: &quot;home&quot;, &quot;action&quot;: &quot;click-music&quot;}">{{artist.name}}</h4>
                <div id="segmented-play-now" class="btn btn-link" data-link="" role="button">
                  <a href="https://open.spotify.com/album/3U75bXq9LhqZoaGoBCXikn" data-tracking="{&quot;category&quot;: &quot;home&quot;, &quot;action&quot;: &quot;click-music&quot;}" onclick="location.href='';"></a>
                </div>

              </figcaption>
            </li>
            {% endfor %}
            <li class="col-xs-12 col-sm-4 js-album-results-2" tabindex="0" data-sr-id="5" style="visibility: visible; opacity: 1; transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s;">

          </ul>
{% endblock %}